<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./template/head.ejs') %>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="stylesheets\home.css">
</head>

<body>
    <header>
        <%- include('./template/header.ejs')%>
    </header>

    <main>
        <!--Danh mục gợi ý sản phẩm-->
        <div class="category">
            <div class="container">
                <div class="style__StyledSimpleSlider hcRNiQ">
                    <div class="content">
                        <span class="slider" style="transform: translateX(0px);">
                            <% if(categories) {%>
                                <% categories.forEach(function(category){ %>
                                    <a id="category-link" href="https://tiki.vn/bach-hoa-online/c4384">
                                        <div class="items-category"><%- category.categoryName %></div>
                                    </a>
                                <% }); %>
                            <% } %>
                            <span class="icon icon-next">
                                <svg class="tikicon icon-arrow-back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--Thanh gợi ý sản phẩm -->
        <div class="Container-product-suggestion hfMLFx infinite_scroll">
            <div class="style__StyledInfiniteScrollWidget cMnFhK">
                <div class="header" style="position: sticky; top: 0px; z-index: 998;">
                    <div class="style__StyledInfiniteScrollWidgetHeaderTitle kFdEkv" style="height: 48px;">
                        Gợi ý hôm nay
                    </div>

                    <div class="style__StyledInfiniteScrollWidgetHeaderTabs bSYAiy">
                        <div class="tab active" data-view-id="home_infinity_tab_item" data-view-index="0">
                            <picture class="webpimg-container">
                                <source type="image/webp" srcset="https://salt.tikicdn.com/cache/w100/ts/personalish/f9/27/b5/3a8e2286a1c8fb91b67acc5ee35f82f0.png.webp">
                                <img width="48" src="https://salt.tikicdn.com/cache/w100/ts/personalish/f9/27/b5/3a8e2286a1c8fb91b67acc5ee35f82f0.png" class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo">
                                <div id="tab-text">Dành cho bạn</div>
                            </picture>
                        </div>

                        <% if(suggestToday) {%>
                            <% suggestToday.forEach(function(suggest){ %>
                                <div class="tab false" data-view-id="home_infinity_tab_item" data-view-index=<%- suggest.id %>>
                                    <picture class="webpimg-container">
                                        <source type="image/webp" srcset=<%- suggest.img %>>
                                        <img width="48" src=<%- suggest.img %> class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo">
                                        <div id="tab-text"><%- suggest.title %></div>
                                    </picture>
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="cover-product">
                <div class="flex-container-product" id = "container-product-items">
                    <% if(products) {%>
                        <% products.forEach(function(product){ %>
                            <div class="product-items">
                                <a href="home/product/<%- product.id %>" class="product-items-link">
                                    <div class="product-img"> 
                                        <img src= <%- product.img %> alt="">
                                    </div>
                                
                                    <div class="cover">
                                        <div class="product-name">
                                            <%- product.productName %>
                                        </div>
                                
                                        <div style="display: flex; align-items: center; margin: 0 0 4px 0;">
                                            <div style="display: flex;">
                                                <div style="position: relative;">
                                                    <div style="display: flex; align-items: center; width: 15px; white-space: nowrap; left: 0px; top: 0px;">
                                                        <img src="https://assets.dryicons.com/uploads/icon/svg/12715/7b07ac52-2bd3-41d3-bac8-766575d2e180.svg" alt="">
                                                        <img src="https://assets.dryicons.com/uploads/icon/svg/12715/7b07ac52-2bd3-41d3-bac8-766575d2e180.svg" alt="">
                                                        <img src="https://assets.dryicons.com/uploads/icon/svg/12715/7b07ac52-2bd3-41d3-bac8-766575d2e180.svg" alt="">
                                                        <img src="https://assets.dryicons.com/uploads/icon/svg/12715/7b07ac52-2bd3-41d3-bac8-766575d2e180.svg" alt="">
                                                        <img src="https://assets.dryicons.com/uploads/icon/svg/12713/0ba1c779-e08a-49d5-a61c-a35d478881c3.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <div class="product-sold">
                                            <%- product.sold %>
                                        </div>
                                        
                                        <div class="product-price has-discount">
                                            <% if(product.discount != '') { %>
                                                <div class="price-discount__price">
                                                    <%- product.price %>
                                                </div>
                                                <div class="price-discount__discount">
                                                    <%- product.discount %>
                                                </div>
                                            <% } else{ %>  
                                                <div class="product-price">
                                                    <div class="price-not-discount"> 
                                                        <%- product.price %>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }); %>
                    <% } %>
                </div> 

                <div class="pagination justify-content-center">
                    <a href="#">«</a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">»</a>
                  </div>
            </div>
            
        </div>
    </main>

    <footer>
        <%- include('./template/footer.ejs')%>
    </footer>
    
    <%- include('./template/script.ejs')%>
</body>
</html>