<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./template/head.ejs') %>
    <title>Product detail</title>
</head>
<body>
    <h1>Product detail</h1>
    
    <div>
        <%if(product){%>
            <img src="<%-product.img%>" alt="">

            <div>Tên sản phẩm: <%-product.productName%></div>
            <div> Đã bán: <%-product.sold%></div>
            <div>Giá: <%-product.price%></div>

            <%if(product.discount != ""){%>
                <div>Giảm giá: <%-product.discount%></div>
            <%}%>
        <%}%>
    </div>

    <%- include('./template/script.ejs')%>
</body>
</html>